{% extends "layout.html" %}

{% block title %}
    Delete {{ recipe["name"] }}
{% endblock %}

{% block main %}
    <div class="container">
        <form id="delete-form" action="/delete/{{ recipe["id"] }}" method="post">
            <label form="delete-form" for="delete-recipe" class="form-label">Are you sure you want to delete the recipe below?</label>
            <input type="submit" value="Delete">
        </form>
        <form id="go-back-form" action="/">
            <label form="go-back-form" for="delete-recipe" class="form-label">Go back: </label>
            <input type="submit" value="Return home">
        </form>
    </div>
    <hr>
    <div class="border border-2 p-4">
        <div class="container text-center">
            <h2>{{ recipe["name"].capitalize() }}</h2>
        </div>
        {% if recipe["image_name"] %}
            <div class="container recipe-img text-center">
                <img alt="{{ top }}" class="border border-dark border-2 rounded img-fluid" src="../static/images/{{ recipe["image_name"] }}" title="{{ recipe["name"] }}">
            </div>
        {% endif %}
        <div class="container text-start">
            <p><strong>Country of Origin: </strong> {{ recipe["country"] }}</p>
            <p><strong>Time Required: </strong>{{ recipe["time"] }}</p>
            <p><strong>Portion Size: </strong>{{ recipe["size"] }}</p>
            <p><strong>Difficulty: </strong>{{ recipe["difficulty"] }}</p>
        </div>
        <hr>
        <div class="container text-start preserve-newline">
            <h4>Ingredients</h4>
            <p>{{ recipe["ingredients"] }}</p>
        </div>
        <hr>
        <div class="container text-start preserve-newline">
            <h4>Instructions</h4>
            <p>{{ recipe["instructions"] }}</p>
        </div>
    </div>
{% endblock %}