{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container border border-2 rounded">
        <table class="table table-hover my-3">
            <thead>
                <th class="table-light">Name</th>
                <th class="table-light">Country of Origin</th>
                <th class="table-light">Time Required</th>
                <th class="table-light">Portion Size</th>
                <th class="table-light">Difficulty</th>
                <th class="table-light">Edit</th>
                <th class="table-light">Delete</th>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td><a href="/recipe/{{ recipe["id"] }}">{{ recipe["name"] }}</a></td>
                        <td><a href="/recipe/{{ recipe["id"] }}">{{ recipe["country"] }}</a></td>
                        <td><a href="/recipe/{{ recipe["id"] }}">{{ recipe["time"] }}</a></td>
                        <td><a href="/recipe/{{ recipe["id"] }}">{{ recipe["size"] }}</a></td>
                        <td><a href="/recipe/{{ recipe["id"] }}">{{ recipe["difficulty"] }}</a></td>
                        <td><a href="/edit/{{ recipe["id"] }}" class="btn btn-primary">Edit</a></td>
                        <td><a href="/delete/{{ recipe["id"] }}" class="btn btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}